{% include 'includes/head.html' %}
<body>
  {%include 'includes/background.html' %}
  {%include 'includes/nav.html' %}
  {%include 'includes/dashboard.html' %}
  {%include 'includes/messages.html' %}
  <div class="container-custom" style="margin-top: 5px;">
    <h2>File Details</h2>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title"><strong>{{ file.name }}</strong> </h5>
            <p class="card-text"><strong>Description:</strong> {{ file.description }}</p>
            <p class="card-text"><strong>Type:</strong> {{ file.type }}</p>
            <p class="card-text"><strong>Uploader:</strong> {{ file.user.username }}</p>
            <p class="card-text"><strong>Uploaded At:</strong> {{ file.uploaded_at|date:"F j, Y, g:i a" }}</p>
            <a href="{{ file.file.url }}" class="btn btn-success mt-3" download="{{ file.name }}">Download File</a>
        </div>
    </div>
  </div>
</body>